@charset "UTF-8";

/*クラス定義 (これより下を消す)*/

#footer {
	background-color: #666;
	width: 100%;
}

.footer-inner {
	padding: 0 32px;
}

.footer-wrapper {
	padding: 72px 20px 52px;
	display: flex;
}

.footer-logo {
	width: 153px;
	margin-right: 104px;
}

.footer-logo img {
	max-width: 100%;
}

.footer-menu-item {
	margin-bottom: 16px;
}

.footer-menu-item a {
	font-size: 14px;
	color: #fff;
}

.footer-contact-btn {
	display: block;
	margin-top: 48px;
	padding: 18px 58px;
	background-color: #8fc54a;
	color: #fff;
	font-size: 14px;
}

.footer-contact-btn:hover {
	opacity: .8;
}

.copy-right {
	font-size: 12px;
	color: #fff;
	text-align: right;
	padding-bottom: 64px;
}

#page-top-btn {
	width: 52px;
	height: 52px;
	border-radius: 50%;
	border: solid 1px #5cb123;
	background-color: #fff;
	position: fixed;
	bottom: 36px;
	right: 36px;
	z-index: 100;
	color: #5cb123;
	transition: all .3s;
	cursor: pointer;
	opacity: 0;
	transform: translateY(-16px);
}

#page-top-btn:hover {
	background-color: #5cb123;
	color: #fff;
}

#page-top-btn.UpMove {
	transition: all 1s;
	transform: translateY(0);
	opacity: 1;
}