@charset "UTF-8";

/*---Reset---*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
ul,
ol,
li,
dl,
dt,
dd,
img,
form,
table,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea {
	font-size: 100%;
	vertical-align: middle;
}

img {
	border-style: none;
	display: block;
}

hr {
	display: none;
}

em {
	font-style: normal
}

input {
	line-height: auto;
	vertical-align: middle;
}

strong.more {
	color: #c30
}

a {
	text-decoration: none;
	color: #0a0000;
}

body {
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

.font-alegreya {
	font-family: "Alegreya Sans SC", "sans serif" !important;
}

/*クラス定義 (これより下を消す)*/

#header {
	height: 100px;
	width: 100%;
	position: fixed;
	background-color: #fff;
	z-index: 1000;
	top: 0;
}

.header-inner {
	height: 100%;
	padding: 0 48px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	width: 200px;
}

.header-logo:hover {
	opacity: .8;
}

.header-menu {
	display: flex;
	align-items: center;
}

.gnav {
	display: flex;
}

.menu-item {
	font-size: 14px;
	padding: 12px;
}

.menu-item:hover {
	opacity: .8;
}

.header-contact-btn {
	margin-left: 16px;
	padding: 15px 64px;
	background-color: #8fc54a;
	color: #fff;
	transition: all .5s;
}

.header-contact-btn:hover {
	opacity: .8;
}

.heading {
	width: 100%;
	height: 300px;
	margin-top: 100px;
	background-color: #8FC54A;
}

.heading h1 {
	color: #fff;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	line-height: 300px;
	letter-spacing: .1em;
}